 
 body {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .Chats-section {
      width: 600px;
      height: 700px;
      background-color: rgb(41, 41, 41);
      border-radius: 20px;
      padding: 20px;
      display: flex;
      align-items: end;
      position: relative;
      padding-bottom: 17.8%;
    }

    .message-box {
      width: 93.7%;
      height: 80px;
      background: rgb(73, 72, 72);
      border-radius: 99px;
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 6px 3px rgba(138, 138, 138, 0.7);
      position: absolute;
      bottom: 15px;
    }

    .message-box input {
      background: transparent;
      border: none;
      width: 80%;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 20px;
      color: white;
    }

    input::placeholder {
      color: rgb(182, 182, 182);
      font-size: 20px;
    }

    input:focus {
      outline: none;
    }

    .send-button {
      font-size: 28px;
      /* background-color: rgb(51, 138, 238); */
      color: white;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 9px;
    }

    path {
      transition: all .3s;
      align-self: center;
    }
    .send-button:hover{
      path{
        fill: rgb(0, 174, 255);
        /* transform:scale(1.2) ; */
      }
    }

    .sendbtn{
        background: none;
        border: none;
        cursor: pointer;
    }

  .msg-div {
    /* background-color: rgb(105, 105, 105); */
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: end;
    /* padding: 10px; */
}

    #msg-area {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 20px;
    overflow-y:auto;
    padding: 0px 15px;
}

#msg-area::-webkit-scrollbar{
    display: none;
}

.user-msg{
    padding: 12px 20px;
    background-color: rgb(68, 68, 68);
    width: 100%;
    color: white;
    border-radius: 99px;
    text-align: end;
    animation: slideUp 400ms;
    margin-bottom: 4px;
}

@keyframes slideUp {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
